

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    list-style: none;
}

body{
    background-color: #d6eefd98;
}

.open-btn{
    position: fixed;  
    font-size: 50px;
    top: 30px;
    right: 30px;
    color: #336666;
    animation-name: animatedButton;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    cursor: pointer;

}

@keyframes animatedButton {
    0%{
        font-size: 50px;
    }

    50%{
        font-size: 35px;
    }

    100%{
        font-size: 50px;
    }
}

.side-bar {
  position: fixed;
  top: 30px;
  left: 0;
  height: 100vh;
  width: 400px;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}
.close-btn{
    font-size: 1.5rem;
    font-weight: bolder;
    color: rgb(122, 2, 2);
    cursor: pointer;
}

.logo{
    font-size: xx-large;
    font-weight: bold;
    text-shadow: 0px 1px 4px rgb(134,131,131);
    cursor: pointer;
}
.logo span{
    color: #336666;
}
.menu{
    font-size: x-large;
    margin-top: 30px;
}
.menu ul{
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

ul li{
    padding: 1rem;
    transition: background-color 1s;
}
ul li:hover{
    background-color: #b1c5c5;
}
ul li a{
    color: rgb(100,97,97);
}
.social-icons {
  position: absolute;
  bottom: 20px;
  left: 80px;
  cursor: pointer;

  display: flex;
  gap: 15px; /* kala fogeeya icons */
}
.social-icons li i{
    font-size: larger;
    color: #336666;
}

.side-bar{
    transform: translateX(-600px);
    transition: transform 1s ease;

}

.show-side-bar{
    transform: translateX(0px);
    transition: transform 1s ease;
}
